#virtual environment
.venv/

#enivronment variables
.env


# Python
__pycache__/
*.py[cod]
*.egg-info/

# Test artifacts
.pytest_cache/
htmlcov/
.coverage
coverage.xml

# Tests-specific cache
tests/backend/__pycache__/
